$formBackground: rgb(255, 255, 255);
$appBackground: #1e90ff;
$inputBackground: rgb(246, 246, 246);
$buttonBackground: #006ef4;
$buttonHoverBackground: #0056bf;
// $alertBackground: #ffba00;
$alertBackground: #ffabab;

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
