.userHeading {
  font-size: xx-large;
  color: white;
}

.alert {
  padding: 1rem;
  margin: 2rem auto;
  max-width: 50%;
  border-radius: 0.6rem;
  background-color: #ffabab;
  font-size: small;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.alert li {
  list-style: none;
  background-color: #ffabab;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 2rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
form .description {
  font-weight: 200;
  font-size: medium;
  font-style: italic;
  color: black;
  background-color: rgb(255, 255, 255);
}
form .formGroup {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
form .formGroup label {
  background-color: rgb(255, 255, 255);
  width: 7rem;
}
form .formGroup input,
form .formGroup select {
  border: 1px solid #838383;
  border-radius: 0.3rem;
  width: 60%;
  height: 2rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(246, 246, 246);
}
form .formGroup input option,
form .formGroup select option {
  background-color: rgb(246, 246, 246);
}
form button {
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  background-color: #006ef4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
form button:hover {
  background-color: #0056bf;
}

@media (max-width: 576px) {
  .userHeading {
    font-size: x-large;
  }
  form {
    max-width: 100%;
  }
  form .formGroup {
    flex-direction: column;
  }
  form .formGroup input,
  form .formGroup select {
    width: 80%;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  form {
    max-width: 80%;
  }
  form .formGroup input,
  form .formGroup select {
    margin-right: 1rem;
  }
}
@media (min-width: 993px) {
  form {
    max-width: 60%;
  }
  form .formGroup input,
  form .formGroup select {
    margin-right: 1rem;
  }
}